.banner{
    background-color: #FFAA00;
    color: SaddleBrown;
    margin-top: 75px;
    text-align: center;
    padding: 50px;
}

#small-mushi{
    height: 100px;
    width:auto;
    filter: drop-shadow(2px 2px 2px black);
}

#mushi-headding{
    color: SaddleBrown;
    font-size: 100px;
}

.bold{
    font-weight: 900;
}
