.navbar{
    position:fixed;
    top:0;
    width:100%;
    background-color: bisque;
}

.navbar li{
    display:inline-block;
    padding: 10px 20px;
}

.navbar a{
    text-decoration: none;
}

.banner{
    background-color: #FFAA00;
    color: SaddleBrown;
    margin-top: 70px;
    text-align: center;
    padding: 50px;
    width:100%
}

.banner p {
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 10px;
}

#small-mushi{
    height: 100px;
    width: auto;
    filter: drop-shadow(2px 2px 2px black);
}

#hide-and-go {
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    color: #444444;
}

#hide-header {
    color: SaddleBrown;
    font-size: 30px;
}

.border {
    border: 5px solid orange;
    margin: auto;
    width: 20%;
}

.border img {
    width: 90%;
}

.mushify-card {
    background-color: #FC3;
    margin: 50px 0;
    padding: 20px 50px;
    width: 100%;
}

#mushify{
    color: SaddleBrown;
    font-size: 100px;
}

#mushes ul{
    list-style-type: none;
}

.avatar{
    background-image: url('../images/Mushi-icon.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display:inline-block;
    vertical-align: middle;
    filter: drop-shadow(1px 1px 1px black);
    padding-right: 10px;
}

.bold{
    color: SaddleBrown;
    font-weight: 900;
}

a.blue{
    color: blue
}
